body
{
    background: url(../media/about.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.about
{
    text-align: center;
    color: #fff;
}
h2
{
    font-size: 60px;
}
h4
{
    font-size: 30px;
}
.info
{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
